
/*************************************************************
				GENERAL
*************************************************************/
body {
	font-size: 100%;
	font-weight: 300;
	font-family: 'Dosis' ,sans-serif;
	overflow: auto;
}
header {

	z-index: 0.9;
}


#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding:0 5%;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

h3 {
	margin:  0 0 1em 0;
}

/*************************************************************
				COLORS
*************************************************************/
body {
	background-color: #dcdcdc;
}

header {
	background-color: #00bfff;
}

h1, h2 {
	color: #ffffff;
}

nav a {
	color: #ffffff;
}


#wrapper {
}

nav {
	background-color: #005387;
}

nav li.selected a {
	color: #87ceeb
}
#floating-menu {
	background-color: #005387;
}

/*************************************************************
				HEADER
*************************************************************/
header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%
}

h1 {
	font-size: 1.75em;
	line-height: 0.8em;
	font-weight: normal;
}

h2 {
	font-size: 0.95em;
	font-weight: normal;
	margin: -5px 0 0;
}

/*************************************************************
				LOGO
*************************************************************/
#logo {
	margin: 15px 25px 0 15px;
}

/*************************************************************
				NAVIGATION
*************************************************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0px;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

nav ul li a.selected {
	color: #ff8c00;
}

nav li a:hover {
	color: #ff8c00;
	opacity: 0.8;
	font-weight: normal;
	font-size: 100%;
}

/****************************************************************************
			main SECTION
****************************************************************************/

section {
	width: 70%;
	float: left; 
	height: auto;
}

aside {
	width: 30%;
	height: 425px;
}

article {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0 0;
	background-color: #ffffff;
	  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
	  	-moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
  			box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;

}

article p {
	line-height: 30px;
	font-size: 100%;
	margin-top: 10px;
}

article h2 {
	background-color: #464646;
	height: 38px;
	line-height: 38px;
	font-size: 16px
	color: #fff;
}

article h3 {
	font-size: 15px;
	color: #808080;
}

/*********************************************************************
			login button
*********************************************************************/

/** custom login button **/
.flatbtn-blu { 
  -webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
 		 box-sizing: border-box;
  display: inline-block;
  outline: 0;
  border: 0;
  color: #edf4f9;
  text-decoration: none;
  background-color: #4f94cf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  font-size: 1.3em;
  font-weight: bold;
  padding: 12px 26px 12px 26px;
  line-height: normal;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(0,0,0,0.3);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.flatbtn-blu:hover {
  color: #fff;
  background-color: #519dde;
}
.flatbtn-blu:active {
  -webkit-box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow:inset 0 1px 5px rgba(0, 0, 0, 0.1);
}

/** modal window styles **/
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: non;
}
 
#login {
  width: 300px;
  padding: 15px 20px;
  background: #f3f6fa;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
 
 
#loginform label {
	 display: block; 
	 font-size: 1.1em; 
	 font-weight: bold; 
	 color: #7c8291; 
	 margin-bottom: 3px;
	}
 
.txtfield { 
  display: block;
  width: 100%;
  padding: 6px 5px;
  margin-bottom: 15px;
  font-family: 'Helvetica Neue', Helvetica, Verdana, sans-serif;
  color: #7988a3;
  font-size: 1.4em;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.8);
  background-color: #fff;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#edf3f9), to(#fff));
  background-image: -webkit-linear-gradient(top, #edf3f9, #fff);
  background-image: -moz-linear-gradient(top, #edf3f9, #fff);
  background-image: -ms-linear-gradient(top, #edf3f9, #fff);
  background-image: -o-linear-gradient(top, #edf3f9, #fff);
  background-image: linear-gradient(top, #edf3f9, #fff);
  border: 1px solid;
  border-color: #abbce8 #c3cae0 #b9c8ef;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.25s linear;
  -moz-transition: all 0.25s linear;
  transition: all 0.25s linear;
}
 
.txtfield:focus {
  outline: none;
  color: #525864;
  border-color: #84c0ee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), 0 0 7px #96c7ec;
}

/**********************************************************************
				ASIDE
**********************************************************************/
#floating-menu {
	position: absolute;
	top: 150px;
	left: 70%;
	width: 15%;
}

#floating-menu ul {
	margin-bottom: 20px;
}

#floating-menu ul li {
	list-style: none;

}


#floating-menu ul li a  {
	display: block;
	list-style: none;
	color: #f5f5f5;
	border-bottom: 2px solid #fafad2;
	margin-bottom: 5px;
}

#floating-menu ul li a.selected {
	color: #ff8c00;
}

#floating-menu ul.menu1 li a:hover {
	color: #ff8c00;
}

#floating-menu ul.menu2 li a:hover {
	color: #ff8c00;
}

#floating-menu ul.menu3 li a:hover {
	color: #ff8c00;
}

#floating-menu ul.menu4 li a:hover {
	color: #ff8c00;
}


/*************************************************************************
			FOOTER
*************************************************************************/
footer {
	font-size: 0.75em;
	clear: both;
	text-align: center;
	padding-top: 15px;
}

.social_icon {
	width: 20px;
	height: 20px;
	margin:0 5px;
}




















