
/*************************************************************
				GENERAL
*************************************************************/
body {
	font-size: 100%;
	font-weight: 300;
	font-family: 'Dosis' ,sans-serif;
	overflow: auto;
}
header {

	z-index: 0.9;
}


#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding:0 5%;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
}

h3 {
	margin:  0 0 1em 0;
}

/*************************************************************
				COLORS
*************************************************************/
body {
	background-color: #dcdcdc;
}

header {
	background-color: #00bfff;
}

h1, h2 {
	color: #ffffff;
}

nav a {
	color: #ffffff;
}


#wrapper {
}

nav {
	background-color: #6a5acd;
}

nav li.selected a {
	color: #87ceeb
}
#floating-menu {
	background-color: #005387;
}

/*************************************************************
				HEADER
*************************************************************/
header {
	float: left;
	margin: 0 0 30px 0;
	padding: 5px 0 0 0;
	width: 100%
}

h1 {
	font-size: 1.75em;
	line-height: 0.8em;
	font-weight: normal;
}

h2 {
	font-size: 0.95em;
	font-weight: normal;
	margin: -5px 0 0;
}

/*************************************************************
				LOGO
*************************************************************/
#logo {
	margin: 15px 25px 0 15px;
}

/*************************************************************
				NAVIGATION
*************************************************************/

nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
}

nav ul {
	list-style: none;
	margin: 0 10px;
	padding: 0px;
}

nav li {
	display: inline-block;
}

nav a {
	font-weight: 800;
	padding: 15px 10px;
}

nav ul li a.selected {
	color: #ff8c00;
}

nav li a:hover {
	color: #ff8c00;
	display: block;
	opacity: 0.8;
	font-weight: normal;
	font-size: 100%;
}

/****************************************************************************
			main SECTION
****************************************************************************/

section {
	width: 70%;
	float: left; 
	height: auto;
	background-color: #ffffff;
}

aside {
	width: 30%;
	height: 425px;
}

article {
	width: 70%;
	margin: 0 auto;
	text-align: center;
	padding: 20px 0 0;
}

article p {
	line-height: 30px;
	font-size: 100%;
	margin-top: 10px;
}

article h2 {
	background-color: #464646;
	height: 38px;
	line-height: 38px;
	font-size: 16px
	color: #fff;
}

article h3 {
	font-size: 15px;
	color: #808080;
}


/**********************************************************************
				ASIDE
**********************************************************************/
#floating-menu {
	position: absolute;
	top: 150px;
	left: 70%;
	width: 15%;
}

#floating-menu ul {
	margin-bottom: 20px;
}

#floating-menu ul li {
	list-style: none;

}


#floating-menu ul li a  {
	display: block;
	list-style: none;
	color: #f5f5f5;
	border-bottom: 2px solid #fafad2;
	margin-bottom: 5px;
}

#floating-menu ul li a.selected {
	color: #ff8c00;
}

#floating-menu ul.menu1 li a:hover {
	color: #ff8c00;
}

#floating-menu ul.menu2 li a:hover {
	color: #ff8c00;
}

#floating-menu ul.menu3 li a:hover {
	color: #ff8c00;
}

#floating-menu ul.menu4 li a:hover {
	color: #ff8c00;
}


/*************************************************************************
			FOOTER
*************************************************************************/
footer {
	font-size: 0.75em;
	clear: both;
	text-align: center;
	padding-top: 15px;
}

.social_icon {
	width: 20px;
	height: 20px;
	margin:0 5px;
}




















